body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.card label{
    font-weight: 700;
    margin-bottom: 5px;
}

.card input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.card input[type="submit"] {
    background-color: #200b86;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.card input[type="submit"]:hover {
    background-color: #4d31d6;
}

.result {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}